/*==========Google Fonts==========*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*==========Reset==========*/
*, *::after, *::before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

/*==========Root==========*/
:root {

    --bg-color: hsl(216, 20%, 95%);
    --primary-color: hsl(0, 0%, 37%);
    --white-color: hsl(0, 0%, 100%);
    --black-color: hsl(0, 0%, 0%);
    --green-color: hsl(157, 72%, 66%);
    --gray-color: hsl(216, 20%, 95%);
    --salmon-color: hsl(23, 100%, 82%);
    --red-color: hsl(347, 100%, 71%);
    --logo-color: hsl(74, 62%, 63%);
    --dark-color: hsl(0, 0%, 13%);
    --dark-light-color: hsl(0, 0%, 47%);
    --blue-color: hsl(217, 97%, 46%);
    --border-color: hsl(0, 0%, 80%);
    --transparent-color: rgba(0, 0, 0, 0);
    --shadow: 0 5px 10px hsla(0, 0%, 0%, 0.1);
    --shadow1: 0 1px 4px hsla(0, 0%, 0%, 0.2);
    --transition: all 400ms ease;

}

/*==========Base==========*/
body {
    background: var(--bg-color);
    color: var(--primary-color);
}
a {
    color: var(--primary-color);
}

/*==========Header==========*/
.navbar {
    position: sticky;
    top: 0;
    background: var(--white-color);
    padding: 6px 6%;
    box-shadow: var(--shadow);
    z-index: 99;
}
.navbar__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar__left {
    display: flex;
    align-items: center;
}
.navbar__left .logo img {
    display: block;
    width: 30px;
    margin-right: 15px;
}
.search__box {
    background: var(--gray-color);
    width: 200px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.search__box i {
    width: 14px;
}
.search__box input {
    width: 100%;
    background: var(--transparent-color);
    padding: 5px;
}
.navbar__center .navbar__list .navbar__item {
    display: inline-block;
}
.navbar__center .navbar__list .navbar__item .navbar__link {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 16px;
    margin: 5px 8px;
    padding-right: 5px;
    text-transform: capitalize;
    font-weight: 400;
}
.navbar__center .navbar__list .navbar__item .navbar__link::after {
    content: '';
    position: absolute;
    bottom: -17px;
    width: 0;
    height: 4px;
    border-radius: 5px;
    background: var(--logo-color);
    transition: var(--transition);
}
.navbar__center .navbar__list .navbar__item .navbar__link:hover::after, .navbar__center .navbar__list .navbar__item .navbar__link.active::after {
    width: 100%;
}
.navbar__center .navbar__list .navbar__item .navbar__link i {
    font-size: 16px;
    margin-right: 5px;
}
.navbar__profile-image {
    position: relative;
    display: block;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.online {
    position: relative;
}
.online::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 12px;
    height: 12px;
    border: 2px solid var(--white-color);
    border-radius: 50%;
    background: var(--green-color);
}

/*==========Container==========*/
.container {
    padding: 20px 6%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*==========Left==========*/
.left__content {
    flex-basis: 25%;
    align-self: flex-start;
}
.profile__box {
    background: var(--white-color);
    border-radius: 10px;
    box-shadow: var(--shadow1);
    transition: var(--transition);
}
.profile__box:hover {
    box-shadow: none;
}
.profile__box .image__cover {
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.profile__info {
    padding: 0 25px;
}
.profile__info img {
    width: 80px;
    border-radius: 50%;
    background: var(--white-color);
    padding: 4px;
    margin-top: -45px;
}
.profile__info .profile__name {
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--dark-color);
}
.profile__info .profile__function {
    font-size: 13px;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--dark-light-color);
}
.profile__info ul {
    margin: 20px 0;
}
.profile__info ul li {
    width: 100%;
    margin: 5px 0;
    font-size: 13px;
    text-transform: capitalize;
}
.profile__info ul li span {
    float: right;
    color: var(--blue-color);
}
.profile__info ul li span i {
    color: var(--dark-light-color);
    margin-left: 5px;
}
.profile__link {
    display: flex;
    align-items: center;
    border-top: 1px solid var(--border-color);
}
.profile__link a {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    font-size: 13px;
    text-transform: capitalize;
    border-left: 1px solid var(--border-color);
}
.profile__link a:first-child {
    border-left: none;
}
.profile__link a i {
    font-size: 20px;
    margin-right: 10px;
}
.profile__link a .uil-bookmark-full {
    color: var(--blue-color);
}
.profile__link a .uil-award {
    color: var(--logo-color);
}
.profile__activity {
    background: var(--white-color);
    padding: 5px 25px;
    margin: 12px 0;
    border-radius: 10px;
    box-shadow: var(--shadow1);
    transition: var(--transition);
}
.profile__activity:hover {
    box-shadow: none;
}
.recent, .groups, .hashtag {
    font-size: 13px;
    font-weight: 500;
    color: var(--dark-light-color);
    margin: 20px 0 10px;
    text-transform: capitalize;
}
.profile__activity a {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
    color: var(--dark-light-color);
    margin: 3px 0;
    text-transform: capitalize;
}
.profile__activity a i {
    font-size: 15px;
    color: var(--logo-color);
    margin-right: 10px;
}
.discover__more {
    border-top: 1px solid var(--border-color);
    text-align: center;
    margin-top: 20px;
    margin-left: -25px;
    margin-right: -25px;
}
.discover__more a {
    display: inline-block;
    color: var(--blue-color);
    margin: 10px 0;
}

/*==========Middle==========*/
.middle__content {
    flex-basis: 47%;
}
.create__post {
    background: var(--white-color);
    border-radius: 10px;
    box-shadow: var(--shadow1);
}
.post__input {
    padding: 20px 25px 10px;
    display: flex;
    align-items: flex-start;
}
.post__input img {
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.post__input textarea {
    width: 100%;
    resize: none;
    background: var(--transparent-color);
    margin-top: 8px;
}
.post__links {
    display: flex;
    align-items: center;
}
.post__links li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 25%;
    border-top: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    height: 40px;
    font-size: 13px;
    text-transform: capitalize;
    font-weight: 500;
    cursor: pointer;
}
.post__links li:last-child {
    background: var(--logo-color);
    color: var(--white-color);
    border-top: none;
    border-right: none;
}
.post__links i {
    font-size: 14px;
    color: var(--logo-color);
    margin-right: 5px;
}
.sort__by {
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.sort__by hr {
    flex: 1;
    border: none;
    height: 1px;
    background: var(--border-color);
}
.sort__by p {
    font-size: 12px;
    padding: 5px;
}
.sort__by p span {
    font-weight: 600;
    cursor: pointer;
}
.sort__by p span i {
    font-size: 13px;
    margin-left: 3px;
}

/*==========Right==========*/
.right__content {
    flex-basis: 25%;
    align-self: flex-start;
}
.news__container {
    background: var(--white-color);
    padding: 10px 25px;
    border-radius: 10px;
    box-shadow: var(--shadow1);
    transition: var(--transition);
}
.news__container:hover {
    box-shadow: none;
}
.info__news {
    font-size: 20px;
    float: right;
    color: var(--blue-color);
    margin-top: 8px;
}
.title__news {
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--dark-color);
    margin: 10px 0 30px;
}
.news__container a {
    display: block;
    font-size: 12px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: -3px;
}
.news__container span {
    font-size: 12px;
}
.read__more {
    color: var(--blue-color);
    font-weight: 500;
    margin: 20px 0 10px;
    text-transform: capitalize;
}
.right__ad {
    background: var(--white-color);
    padding: 15px 25px;
    text-align: center;
    margin: 12px 0;
    font-size: 12px;
    border-radius: 10px;
    box-shadow: var(--shadow1);
    transition: var(--transition);
}
.right__ad:hover {
    box-shadow: none;
}
.right__ad small, .right__ad p, .right__ad b, .right__ad a {
    text-transform: capitalize;
}
.right__ad small {
    float: right;
    font-weight: 500;
}
.right__ad p {
    margin-top: 30px;
    margin-bottom: 10px;
}
.right__ad b {
    display: block;
    font-weight: 500;
    margin-top: 10px;
}
.right__ad img {
    width: 50px;
    border-radius: 50%;
    margin: 4px;
}
.ad__link {
    display: inline-block;
    border: 1px solid var(--border-color);
    border-radius: 30px;
    padding: 5px 15px;
    color: var(--dark-color);
    font-weight: 500;
    margin: 20px auto 10px;
}
.useful__content {
    padding: 15px 25px;
    text-align: center;
}
.useful__content a {
    display: inline-block;
    font-size: 13px;
    margin: 7px 5px;
    text-transform: capitalize;
}
.copy__info {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    margin-top: 30px;
    font-weight: 500;
}
.copy__info img {
    width: 30px;
    margin-right: 5px;
}
.copy__info p {
    font-size: 13px;
    font-weight: 300;
}